@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

/* declaracion de variables de colores */
:root {
  --primary-purpule: #8b48bf;
  --primary-skyblue: #3cddf3;
  --secondary-purpule: rgba(139, 72, 191, 0.7);
  --background-purple: rgba(139, 72, 191, 0.3);
  --neutral-blue-gray: #1e1e26;
  --neutral-blue-intense: #232851;
  --neutral-blue-navbar: #242e52;
  --neutral-blue-hover: rgba(36, 46, 82, 0.6);
  --neutral-clear-grey: rgb(249, 249, 249);
  --background-grey: #fafafa;
  --secondary-grey-clear: #b3b2b7;
  --dark-background: rgba(30, 30, 38, 1);
}

/* selector global */
* {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* remover estilos de enlaces a de forma global */
a:link,
a:visited,
a:active {
  text-decoration: none;
}

/* -----------------estilos del encabezado--------------------- */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 174px;
}

.logoHeader img {
  height: 25px;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li a {
  color: var(--neutral-blue-navbar);
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  margin: 0px 14px;
  transition: all 0.4s;
  padding: 10px;
}

header nav ul li a:hover {
  color: var(--secondary-grey-clear);
  font-size: 16px;
}

.hamburguer{
    display: none;
}

.buttonContact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 134px;
  background-color: var(--primary-purpule);
  color: white;
  border-radius: 50px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  transition: all 0.4s;
}

.buttonContact span {
  font-size: 13px;
  font-weight: 500;
}

.buttonContact:hover {
  background-color: var(--secondary-purpule);
  transform: scale(1.1)
}

/*------------------------estilos de hero------------------------------*/
section {
  width: 100%;
  display: flex;
}
.hero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  padding: 86px 0px;
}

.heroImg {
  width: 450px;
}

.heroContent {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
}

.heroContent h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: right;
  letter-spacing: -0.035em;
  color: var(--neutral-blue-intense);
}

.heroContent p{
  font-weight: 500;
  text-align: right;
}

/*------------------------sección de features central, encabezado----------------*/

#sectionFeatures {
  display: flex;
  flex-direction: column;
}
.sectionHeadline {
  width: 100%;
  height: 168px;
  background-color: var(--primary-purpule);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 200px;
  gap: 100px;
  color: white;
}

.sectionHeadline h2 {
  width: 50%;
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
}

.sectionHeadline p{
  width: 50%;
  max-width: 450px;
}

.sectionHeadline p:nth-child(2){
  display: none;
}

/*---------------------------seccion features central, cartas--------------------- */

.sectionContainerCards {
  background-color: var(--background-grey);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 50px;

}

.featureCard {
  display: inline-block;
  margin: 20px;
  width: 553px;
  min-height: 158px;
  gap: 23px;

}

.featureHeader {
  display: flex;
  align-items: center;
  height: 43px;
  gap: 10px;
}

.featureHeader span{
  padding: 10px 25px;
  background-color: var(--primary-purpule);
  color: white;  
  width: 69px;  
  border-radius: 30px;
  margin: 10px 0px;
  font-weight: 700;
  line-height: 23px;
}

.featureHeader h5{
  color: var(--neutral-blue-intense);
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.015em;
}

.featureDescription p{
  width: 100%;
  padding-left: 79px;
  padding-right: 20px;
  color: var(--secondary-grey-clear);
}

/*-----------------------seccion de cartas de jugadores Best of the mont------------- */

#sectionPlayersCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
}

#sectionPlayersCards h2 {
  height: 61px;
  width: 424px;
  font-size: 40px;
  font-weight: 700;
  color: var(--neutral-blue-intense);
  text-align: center;
  margin-bottom: 74px;
}

.playersCardsContainer {
  display: flex;
  justify-content: space-around;
}

.playerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 445px;
  height: 260px;
}

.playerImg {
  width: 70px;
  height: 70px;
  margin-bottom: -35px;
  z-index: 1;
}

.playerDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-grey);
  height: 220px;
  padding: 22px;
}

.playerDescription h3 {
  font-weight: 700;
  color: var(--neutral-blue-intense);
  margin-top: 22px;
}

.playerDescription p {
  font-weight: 500;
  color: var(--secondary-grey-clear);
  width: 403px;
  height: 100px;
}

#sectionPlayersCards .buttonContact {
  margin: 45px 0px;
}

/* -----------------seccion call to action ---------------------------*/

#sectionCallToAction {
  background-color: var(--primary-purpule);
  height: 224px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 538px;
}

#sectionCallToAction h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.005em;
  width: 433px;
  height: 96px;
  color: white;
}

.buttonGoForIt {
    align-items: center;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: var(--primary-purpule);
    display: flex;
    height: 44px;
    justify-content: center;
    width: 134px;
    transition: all 0.4s;
}

.buttonGoForIt p{
  font-size: 13px;
}

.buttonGoForIt:hover{
    background-color: var(--secondary-grey-clear);
    color: white;
    transform: scale(1.1);
}

/*----------------------estilos de footer---------------------------*/

footer{
    background-color: var(--dark-background);
    width: 100%;
    height: 247px;
    display: flex;
    justify-content: space-around;
}

.logoAndRss{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.rss{
    display: flex;
    gap:13px
}

.rss a img{
    width: 20px;
    height: 20px;
    transition: all 0.4s;
}

.rss a img:hover{
    transform: scale(1.2);
    margin-top: -5px;
}

#footerMenu{
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.footerNav{
    display: flex;
    align-items: center;
    height: 100%;
}

.footerNav ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    gap:12px
}

.footerNav ul li a{
    color: white;
    transition: all 0.4s;
}

.footerNav ul li a:hover{
    color: var(--secondary-grey-clear);
    text-decoration: underline;
}

.formAndCopy{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formAndCopy form{
    display: flex;
    gap: 9px;
}

#inputInbox{
    width: 201px;
    height: 44px;
    padding: 10px;
    gap:10px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    color: var(--neutral-blue-intense);
}

#inputInbox::placeholder{
    color: var(--secondary-grey-clear);
}

#btnGo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 63px;
    height: 42px;
    background-color: var(--primary-purpule);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: white;
    transition: all 0.4s;
    font-size: 13px;
}

#btnGo:hover{
 background-color: var(--secondary-grey-clear);
 color: var(--neutral-blue-intense);
 transform: scale(1.1);

}

.copy p{
    text-align: end;
    color: var(--secondary-grey-clear);
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}

/*diseño para mobile ----------------------------------------------------------
╔═══╗ 
║███║ 
║███║
╚═══╝
------------------------------------------------------------------------------*/

@media (max-width: 480px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
        margin-top: 40px;
        width: 100%;
      }

      .logoHeader{
        display: flex;
        justify-content: center;
        width: 50%;
      }
      
      .logoHeader img {
        height: 25px;
      }
      
      header nav {
        display: none
      }
      
      .hamburguer{
          display: flex;
          justify-content: center;
          width: 50%;

      }

      .hamburguer img{
        height: 48px;
        width: 48px;
      }

      header .buttonContact {
        display: none;
      }
      
      /*estilos de hero---------------------------------------------*/
      section {
        width: 100%;
        display: flex;
      }
      .hero {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 100px;
        padding: 86px 0px 39px 0px;
      }
      
      .heroImg {
        width: 100%;
        padding: 0px 40px;
      }

      .heroImg img{
        width: 100%;
      }
      
      .heroContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-around;
        padding: 0px 40px;
      }
      
      .heroContent h1 {
        font-size: 40px;
        font-weight: 700;
        text-align: right;
        letter-spacing: -0.07em;
        color: var(--neutral-blue-intense);
        align-self: stretch;
        line-height: 47px;
      }
      
      .heroContent p {
        margin-top: 28px;
        font-weight: 500;
        text-align: right;
        margin-bottom: 28px;
      }
      
      /*sección de features central, encabezado------------------------------*/
      
      #sectionFeatures {
        display: flex;
        flex-direction: column;
      }
      .sectionHeadline {
        background-color: var(--primary-skyblue);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 40px 0px;
        gap: 50px;
        color: white;
      }
      
      .sectionHeadline h2 {
        width: 100%;
        padding: 0px 20px;
      }

      .sectionHeadline p {
        width: 100%;
        max-width: 480px;
        padding: 0px 20px;
      }
      
      .sectionHeadline p:first-child{
        display: none;
      }

      /*seccion features central, cartas -----------------------------------*/
      
      .sectionContainerCards {
        padding: 75px 0px 0px 0px;
      
      }
      
      .featureCard {
        width: 100%;
        min-height: 158px;
        display: flex;
        flex-direction: column;
        margin: 20px 0px 10px 20px;
      
      }
      
      .featureHeader {
        background-color: var(--background-purple);
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        gap: 18px;
      }
      
      .featureDescription p{
        width: 100%;
        padding-left: 10px;
        padding-right: 0px;
        color: var(--secondary-grey-clear);
      }
      /*seccion de cartas de jugadores Best of the mont --------------------------*/
      
      #sectionPlayersCards {
        padding: 68px 0px;
        width: 100%;
      }

      .playerCard {
        width: 100%;
        min-height: 260px;
      }

      .playerDescription p {        
        width: 100%;
        text-align: center;
      }

      .playersCardsContainer .playerCard:first-child{
        display: none;
      }

      .playersCardsContainer .playerCard:last-child{
        display: none;
      }
      
      /* seccion call to action */
      
      #sectionCallToAction {
        background-color: var(--primary-skyblue);
        height: fit-content;
        min-height: 366px;
        flex-direction: column;
        gap: 10px;
      }
      
      #sectionCallToAction h3 {
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 40px 80px;
      }
      
      .buttonGoForIt {
          background-color: var(--neutral-blue-intense);
          color: white;
          font-size: 13px;
          margin-bottom: 20px;
      }
      
      .buttonGoForIt:hover{
          background-color: var(--secondary-grey-clear);
          color: white;
          transform: scale(1.1);
      }
      
      /*-------------------estilos de footer --------------------*/
      
      footer{
          height: fit-content;
          flex-direction:column-reverse;
          width: 100%;
          gap: 50px;
          padding: 50px 10px 100px 10px;
      }
      
      .logoAndRss{
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
          width: 100%;
          gap: 40px;
      }
      
      .rss{
          display: flex;
          width: 100%;
          gap:0px;
          justify-content: space-around;
      }
      
      .rss a img{
          width: 20px;
          height: 20px;
          transition: all 0.4s;
      }
      
      .rss a img:hover{
          transform: scale(1.2);
          margin-top: -5px;
      }

      #footerMenu{
        width: 100%;
      }
      
      .footerNav{
          display: flex;
          align-items: center;
          height: 100%;
      }
      
      .footerNav ul{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          list-style: none;
          gap:12px
      }
      

      
      .formAndCopy{
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      
      .formAndCopy form{
          display: flex;
          gap: 9px;
      }
      
      #inputInbox{
          width: 308px;

      }
      
      .copy p{
          position: relative;
          top: 380px;
          text-align: center;
      }
  }
